.NavBar {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
  }
  
  .NavBar-link {
    background-color: purple;
    color: white;
    text-decoration: none;
    padding: 4px;
    align-self: center;
  }